### RUN IN TERMINAL FOR DATABASE CREATION

docker ps (to see the running containers)

docker stop id (write instead of id what you want to delete)

docker rm -f $(docker ps -aq) (delete every running container)

docker run --name my-postgres-db -e POSTGRES_USER=master -e POSTGRES_PASSWORD=pass -e POSTGRES_DB=GLOBBING -p 5432:5432 -d postgres

# Initialize the database by creating the tables

In [ ]:
from zenq.api.prepare_db import db
m=db()
m.main()

# Data Preparation

In [2]:
from zenq.datapreparation.preparation import data_prep
prep = data_prep()

In [3]:
prep.read_data('globbing.csv')

,Customer,Date,Product_weight,Product_price,Gender,Branch/Locker,Location,InvoiceId
0,RXZ350571,2022-09-01,4.40,24200.0,M,G-Location 1,Yerevan,INV-101
1,ZFZ316415,2022-09-01,5.86,35160.0,M,G-Location 2,Yerevan,INV-102
2,KPR936365,2022-09-01,3.76,30080.0,M,G-Location 2,Yerevan,INV-103
3,PBI351070,2022-09-01,2.74,21920.0,F,G-Location 3,Yerevan,INV-104
4,RFI100548,2022-09-01,5.99,35940.0,M,G-Location 2,Yerevan,INV-105

## Shape of data

In [4]:
prep.shape()

((22000, 8),
 ['Customer',
  'Date',
  'Product_weight',
  'Product_price',
  'Gender',
  'Branch/Locker',
  'Location',
  'InvoiceId'])

## Info of data

In [5]:
prep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer        22000 non-null  object
 1   Date            22000 non-null  object
 2   Product_weight  22000 non-null  float64
 3   Product_price   22000 non-null  float64
 4   Gender          22000 non-null  object
 5   Branch/Locker   22000 non-null  object
 6   Location        22000 non-null  object
 7   InvoiceId       22000 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.3+ MB

## Number of duplicates

In [6]:
prep.num_of_duplicate()

0

## Number of null values

In [7]:
prep.num_of_null()

Customer          0
Date              0
Product_weight    0
Product_price     0
Gender            0
Branch/Locker     0
Location          0
InvoiceId         0
dtype: int64

## Number of unique values in specified column

In [8]:
prep.num_of_unique_in_column('Gender')

2023-05-02 20:01:06,721 - preparation.py - ERROR - num_of_unique_in_column (preparation.py:54)
2023-05-02 20:01:06,721 num_of_unique_in_column num_of_unique_in_column

2

## Final Data

In [9]:
prep.final_data()

2023-05-02 20:01:06,974 _init_num_threads NumExpr defaulting to 8 threads.
2023-05-02 20:01:06,979 - preparation.py - ERROR - final_data (preparation.py:67)
2023-05-02 20:01:06,979 final_data final_data
2023-05-02 20:01:06,980 - preparation.py - WARNING - final_data (preparation.py:68)
2023-05-02 20:01:06,980 final_data final_data

,Customer,Date,Product_weight,Product_price,Gender,Branch/Locker,Location,InvoiceId
0,RXZ350571,2022-09-01,4.40,24200.0,M,G-Location 1,Yerevan,INV-101
1,ZFZ316415,2022-09-01,5.86,35160.0,M,G-Location 2,Yerevan,INV-102
2,KPR936365,2022-09-01,3.76,30080.0,M,G-Location 2,Yerevan,INV-103
3,PBI351070,2022-09-01,2.74,21920.0,F,G-Location 3,Yerevan,INV-104
4,RFI100548,2022-09-01,5.99,35940.0,M,G-Location 2,Yerevan,INV-105
...,...,...,...,...,...,...,...,...
21995,QAC630422,2023-04-08,4.09,22495.0,F,G-Location 5,Yerevan,INV-22096
21996,MUN988629,2023-04-08,4.34,26040.0,F,G-Location 5,Yerevan,INV-22097
21997,QRO989642,2023-04-08,5.16,10320.0,M,G-Location 2,Yerevan,INV-22098
21998,NTW716871,2023-04-08,1.39,8340.0,F,G-Location 1,Yerevan,INV-22099
21999,FYN433456,2023-04-08,1.93,10615.0,F,G-Location 3,Yerevan,INV-22100

# Insert Facts into database

In [10]:
from zenq.api.endpoints import insert_facts
insert_facts('globbing.csv', 'Customer', 'Gender', 'InvoiceId', 'Date', 'Product_weight', 'Product_weight')

2023-05-02 20:01:10,631 - preparation.py - ERROR - final_data (preparation.py:67)
2023-05-02 20:01:10,631 final_data final_data
2023-05-02 20:01:10,632 - preparation.py - WARNING - final_data (preparation.py:68)
2023-05-02 20:01:10,632 final_data final_data

Inserting facts for Customer from file csv

2023-05-02 20:02:12,528 - endpoints.py - ERROR - insert_facts (endpoints.py:76)
2023-05-02 20:02:12,528 insert_facts insert_facts
2023-05-02 20:02:12,533 - endpoints.py - WARNING - insert_facts (endpoints.py:77)
2023-05-02 20:02:12,533 insert_facts insert_facts
2023-05-02 20:02:12,536 - endpoints.py - INFO - insert_facts (endpoints.py:78)
2023-05-02 20:02:12,536 insert_facts insert_facts

Finished inserting facts

# Define the Model and input data in result schema of database

In [11]:
from zenq.clvmodels.pareto import Model
model = Model()

## Compute key metrics for CLV

In [12]:
cltv = model.cltv_df()
cltv

2023-05-02 20:02:14,349 - pareto.py - INFO - cltv_df (pareto.py:61)
2023-05-02 20:02:14,349 cltv_df cltv_df

     customer_id   min_date  recency    T  frequency  monetary
0      KVO444312 2022-09-13      163  231         14     62.43
1      VBV804469 2022-09-04      200  240         14     58.16
2      BAE240832 2022-09-13      196  231          3      8.97
3      AOK457989 2022-09-14      189  230          5     25.09
4      XZF813575 2022-09-05      179  239         11     42.98
...          ...        ...      ...  ...        ...       ...
1956   DXT747575 2022-09-12      206  232          7     28.18
1957   VOZ592840 2023-01-14       52  108          2      9.99
1958   ZCQ782298 2022-09-13      207  231         20     79.30
1959   YNW866090 2022-09-02      143  242         11     47.75
1960   IFC198488 2022-09-17      189  227          6     32.53

[1960 rows x 6 columns]

## Categorization of customers based on RFM scores

In [13]:
rfm = model.rfm_score()
rfm

2023-05-02 20:02:14,447 - pareto.py - INFO - cltv_df (pareto.py:61)
2023-05-02 20:02:14,447 cltv_df cltv_df
2023-05-02 20:02:14,524 - pareto.py - INFO - rfm_score (pareto.py:87)
2023-05-02 20:02:14,524 rfm_score rfm_score

,customer_id,recency_score,frequency_score,monetary_score,RFM_SCORE,segment
0,KVO444312,4,4,4,44,LOYAL CUSTOMER
1,VBV804469,2,4,4,24,AT RISK
2,BAE240832,2,1,1,21,HIBERNATING
3,AOK457989,3,1,2,31,ABOUT TO SLEEP
4,XZF813575,3,3,3,33,NEED ATTENTION
...,...,...,...,...,...,...
1956,DXT747575,1,2,2,12,HIBERNATING
1957,VOZ592840,5,1,1,51,NEW CUSTOMERS
1958,ZCQ782298,1,5,5,15,CANT LOSE
1959,YNW866090,4,3,3,43,POTENTIAL LOYALIST
1960,IFC198488,3,2,2,32,ABOUT TO SLEEP

## Fit into Pareto model

In [14]:
fit = model.fit_paretonbd()
fit

2023-05-02 20:02:14,623 - pareto.py - INFO - cltv_df (pareto.py:61)
2023-05-02 20:02:14,623 cltv_df cltv_df
/opt/anaconda3/lib/python3.8/site-packages/scipy/special/_logsumexp.py:108: RuntimeWarning: overflow encountered in exp
  tmp = b * np.exp(a - a_max)

## Model parameters

In [15]:
parameters = model.model_params()
parameters

2023-05-02 20:03:09,995 - pareto.py - INFO - cltv_df (pareto.py:61)
2023-05-02 20:03:09,995 cltv_df cltv_df
/opt/anaconda3/lib/python3.8/site-packages/scipy/special/_logsumexp.py:108: RuntimeWarning: overflow encountered in exp
  tmp = b * np.exp(a - a_max)
2023-05-02 20:03:18,724 - pareto.py - INFO - model_params (pareto.py:114)
2023-05-02 20:03:18,724 model_params model_params
2023-05-02 20:03:18,725 - pareto.py - ERROR - model_params (pareto.py:115)
2023-05-02 20:03:18,725 model_params model_params

          r       alpha           s          beta
0  7.180649  132.401379  377.663485  341146.40026

## Predictions for 30,90,180,360 days

In [16]:
pareto = model.predict_paretonbd()
pareto

2023-05-02 20:03:24,114 - pareto.py - INFO - cltv_df (pareto.py:61)
2023-05-02 20:03:24,114 cltv_df cltv_df
/opt/anaconda3/lib/python3.8/site-packages/scipy/special/_logsumexp.py:108: RuntimeWarning: overflow encountered in exp
  tmp = b * np.exp(a - a_max)
2023-05-02 20:03:30,158 - pareto.py - INFO - cltv_df (pareto.py:61)
2023-05-02 20:03:30,158 cltv_df cltv_df
2023-05-02 20:03:30,415 - pareto.py - INFO - predict_paretonbd (pareto.py:134)
2023-05-02 20:03:30,415 predict_paretonbd predict_paretonbd

,Customer,Expected_Purchases_30,Expected_Purchases_90,Expected_Purchases_180,Expected_Purchases_360
0,KVO444312,0.703433,2.038538,3.873880,7.014152
1,VBV804469,1.400074,4.057394,7.710370,13.960639
2,BAE240832,0.771190,2.234895,4.247022,7.689773
3,AOK457989,0.893518,2.589400,4.920696,8.909543
4,XZF813575,0.948524,2.748810,5.223633,9.458072
...,...,...,...,...,...
1956,DXT747575,1.089196,3.156471,5.998316,10.860716
1957,VOZ592840,0.881607,2.554850,4.854950,8.790197
1958,ZCQ782298,2.037997,5.906080,11.223461,20.321501
1959,YNW866090,0.221543,0.642030,1.220066,2.209091
1960,IFC198488,0.981477,2.844302,5.405090,9.786591

## Customer aliveness

In [17]:
alive = model.customer_is_alive()
alive

2023-05-02 20:03:33,216 - pareto.py - INFO - cltv_df (pareto.py:61)
2023-05-02 20:03:33,216 cltv_df cltv_df
/opt/anaconda3/lib/python3.8/site-packages/scipy/special/_logsumexp.py:108: RuntimeWarning: overflow encountered in exp
  tmp = b * np.exp(a - a_max)
2023-05-02 20:03:38,904 - pareto.py - INFO - cltv_df (pareto.py:61)
2023-05-02 20:03:38,904 cltv_df cltv_df
2023-05-02 20:03:38,959 - pareto.py - INFO - customer_is_alive (pareto.py:148)
2023-05-02 20:03:38,959 customer_is_alive customer_is_alive

       Customer  Probability_of_being_Alive
0     KVO444312                    0.418811
1     VBV804469                    0.839808
2     BAE240832                    0.934650
3     AOK457989                    0.904030
4     XZF813575                    0.665663
...         ...                         ...
1956  DXT747575                    0.950289
1957  VOZ592840                    0.788599
1958  ZCQ782298                    0.926624
1959  YNW866090                    0.160176
1960  IFC198488                    0.909990

[1960 rows x 2 columns]

In [18]:
import pandas as pd

# Read the CSV file into a pandas dataframe
df = pd.read_csv('globbing.csv')

# Group the data by customer and count the number of invoices
grouped = df.groupby('Customer').agg({'InvoiceId': 'count'})

# Select only the customers with one invoice
result = grouped[grouped['InvoiceId'] == 1]

# Print the result
print(result)

           InvoiceId
Customer
AAR366684          1
ATB262249          1
BRS840990          1
BSF439593          1
CKI107410          1
DAX787715          1
DFZ837701          1
DSE737276          1
EUF556994          1
GGL431742          1
GXL480310          1
HAH608808          1
IAY208308          1
IQN294014          1
IWU303142          1
JZG281834          1
KFT548996          1
KPO670477          1
KXH974893          1
LFG253534          1
NJM647149          1
OLY631292          1
RWD468759          1
SJZ770260          1
TNU309606          1
UCA347124          1
UYP958102          1
VXJ691842          1
XHB937113          1
XVA214225          1