### RUN IN TERMINAL FOR DATABASE CREATION

docker ps (to see the running containers)

docker stop id (write instead of id what you want to delete)

docker rm -f $(docker ps -aq) (delete every running container)

docker run --name my-postgres-db -e POSTGRES_USER=master -e POSTGRES_PASSWORD=pass -e POSTGRES_DB=GLOBBING -p 5432:5432 -d postgres

# Initialize the database by creating the tables

In [1]:
from zenq.api.prepare_db import db
m=db()
m.main()

/2023-05-04 12:38:56,404 / tables.py / INFO / connect_to_db/Connecting to the database: postgresql://master:pass@localhost/GLOBBING /tables.py/31/
/2023-05-04 12:38:56,404 / tables.py / INFO / connect_to_db/Connecting to the database: postgresql://master:pass@localhost/GLOBBING /tables.py/31/
/2023-05-04 12:38:56,473 / tables.py / ERROR / connect_to_db/Failed to create schema 'initial' /tables.py/39/
/2023-05-04 12:38:56,473 / tables.py / ERROR / connect_to_db/Failed to create schema 'initial' /tables.py/39/
/2023-05-04 12:38:56,478 / tables.py / ERROR / connect_to_db/Failed to create schema 'result' /tables.py/45/
/2023-05-04 12:38:56,478 / tables.py / ERROR / connect_to_db/Failed to create schema 'result' /tables.py/45/
/2023-05-04 12:38:57,516 / prepare_db.py / INFO / db/Initializing the database... /prepare_db.py/42/
/2023-05-04 12:38:57,516 / prepare_db.py / INFO / db/Initializing the database... /prepare_db.py/42/
/2023-05-04 12:38:57,595 / prepare_db.py / INFO / db/Database successfully initialized /prepare_db.py/49/
/2023-05-04 12:38:57,595 / prepare_db.py / INFO / db/Database successfully initialized /prepare_db.py/49/
/2023-05-04 12:38:57,596 / prepare_db.py / INFO / db/Insertion successfully done /prepare_db.py/53/
/2023-05-04 12:38:57,596 / prepare_db.py / INFO / db/Insertion successfully done /prepare_db.py/53/

# Data Preparation

In [1]:
from zenq.datapreparation.preparation import data_prep
prep = data_prep()

In [2]:
prep.read_data('globbing.csv')

,Customer,Date,Product_weight,Product_price,Gender,Branch/Locker,Location,InvoiceId
0,RXZ350571,2022-09-01,4.40,24200.0,M,G-Location 1,Yerevan,INV-101
1,ZFZ316415,2022-09-01,5.86,35160.0,M,G-Location 2,Yerevan,INV-102
2,KPR936365,2022-09-01,3.76,30080.0,M,G-Location 2,Yerevan,INV-103
3,PBI351070,2022-09-01,2.74,21920.0,F,G-Location 3,Yerevan,INV-104
4,RFI100548,2022-09-01,5.99,35940.0,M,G-Location 2,Yerevan,INV-105

## Shape of data

In [3]:
prep.shape()

((22000, 8),
 ['Customer',
  'Date',
  'Product_weight',
  'Product_price',
  'Gender',
  'Branch/Locker',
  'Location',
  'InvoiceId'])

## Info of data

In [4]:
prep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer        22000 non-null  object
 1   Date            22000 non-null  object
 2   Product_weight  22000 non-null  float64
 3   Product_price   22000 non-null  float64
 4   Gender          22000 non-null  object
 5   Branch/Locker   22000 non-null  object
 6   Location        22000 non-null  object
 7   InvoiceId       22000 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.3+ MB

## Number of duplicates

In [5]:
prep.num_of_duplicate()

0

## Number of null values

In [6]:
prep.num_of_null()

Customer          0
Date              0
Product_weight    0
Product_price     0
Gender            0
Branch/Locker     0
Location          0
InvoiceId         0
dtype: int64

## Number of unique values in specified column

In [7]:
prep.num_of_unique_in_column('Gender')

2

## Final Data

In [8]:
prep.final_data()

2023-05-04 12:40:18,743 _init_num_threads NumExpr defaulting to 8 threads.

,Customer,Date,Product_weight,Product_price,Gender,Branch/Locker,Location,InvoiceId
0,RXZ350571,2022-09-01,4.40,24200.0,M,G-Location 1,Yerevan,INV-101
1,ZFZ316415,2022-09-01,5.86,35160.0,M,G-Location 2,Yerevan,INV-102
2,KPR936365,2022-09-01,3.76,30080.0,M,G-Location 2,Yerevan,INV-103
3,PBI351070,2022-09-01,2.74,21920.0,F,G-Location 3,Yerevan,INV-104
4,RFI100548,2022-09-01,5.99,35940.0,M,G-Location 2,Yerevan,INV-105
...,...,...,...,...,...,...,...,...
21995,QAC630422,2023-04-08,4.09,22495.0,F,G-Location 5,Yerevan,INV-22096
21996,MUN988629,2023-04-08,4.34,26040.0,F,G-Location 5,Yerevan,INV-22097
21997,QRO989642,2023-04-08,5.16,10320.0,M,G-Location 2,Yerevan,INV-22098
21998,NTW716871,2023-04-08,1.39,8340.0,F,G-Location 1,Yerevan,INV-22099
21999,FYN433456,2023-04-08,1.93,10615.0,F,G-Location 3,Yerevan,INV-22100

# Insert Facts into database

In [9]:
from zenq.api.endpoints import insert_facts
insert_facts('globbing.csv', 'Customer', 'Gender', 'InvoiceId', 'Date', 'Product_weight', 'Product_price')

/2023-05-04 12:40:22,438 / tables.py / INFO / connect_to_db/Connecting to the database: postgresql://master:pass@localhost/GLOBBING /tables.py/31/
2023-05-04 12:40:22,438 connect_to_db connect_to_db/Connecting to the database: postgresql://master:pass@localhost/GLOBBING
/2023-05-04 12:40:22,493 / tables.py / ERROR / connect_to_db/Failed to create schema 'initial' /tables.py/39/
2023-05-04 12:40:22,493 connect_to_db connect_to_db/Failed to create schema 'initial'
/2023-05-04 12:40:22,498 / tables.py / ERROR / connect_to_db/Failed to create schema 'result' /tables.py/45/
2023-05-04 12:40:22,498 connect_to_db connect_to_db/Failed to create schema 'result'

Inserting facts for Customer from file csv

'Finished inserting facts'

In [8]:
from zenq.api.endpoints import update_log
update_log()

# Define the Model and input data in result schema of database

In [2]:
from zenq.clvmodels.pareto import Model
model = Model()

/2023-05-04 12:47:56,333 / tables.py / INFO / connect_to_db/Connecting to the database. /tables.py/31/
/2023-05-04 12:47:56,333 / tables.py / INFO / connect_to_db/Connecting to the database. /tables.py/31/
/2023-05-04 12:47:56,389 / tables.py / ERROR / connect_to_db/Failed to create schema 'initial' /tables.py/39/
/2023-05-04 12:47:56,389 / tables.py / ERROR / connect_to_db/Failed to create schema 'initial' /tables.py/39/
/2023-05-04 12:47:56,394 / tables.py / ERROR / connect_to_db/Failed to create schema 'result' /tables.py/45/
/2023-05-04 12:47:56,394 / tables.py / ERROR / connect_to_db/Failed to create schema 'result' /tables.py/45/
/2023-05-04 12:47:57,646 / tables.py / INFO / connect_to_db/Connecting to the database. /tables.py/31/
/2023-05-04 12:47:57,646 / tables.py / INFO / connect_to_db/Connecting to the database. /tables.py/31/
/2023-05-04 12:47:57,676 / tables.py / ERROR / connect_to_db/Failed to create schema 'initial' /tables.py/39/
/2023-05-04 12:47:57,676 / tables.py / ERROR / connect_to_db/Failed to create schema 'initial' /tables.py/39/
/2023-05-04 12:47:57,679 / tables.py / ERROR / connect_to_db/Failed to create schema 'result' /tables.py/45/
/2023-05-04 12:47:57,679 / tables.py / ERROR / connect_to_db/Failed to create schema 'result' /tables.py/45/

## Compute key metrics for CLV

In [3]:
cltv = model.cltv_df()
cltv

/2023-05-04 12:46:29,663 / numexpr.utils / INFO / NumExpr defaulting to 8 threads. /utils.py/157/
/2023-05-04 12:46:29,797 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/2023-05-04 12:46:29,797 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/

     customer_id   min_date  recency    T  frequency  monetary
0      KVO444312 2022-09-13      163  233         14  255590.0
1      VBV804469 2022-09-04      200  242         14  310880.0
2      BAE240832 2022-09-13      196  233          3   39005.0
3      AOK457989 2022-09-14      189  232          5  111895.0
4      XZF813575 2022-09-05      179  241         11  223440.0
...          ...        ...      ...  ...        ...       ...
1956   DXT747575 2022-09-12      206  234          7  114810.0
1957   VOZ592840 2023-01-14       52  110          2   51295.0
1958   ZCQ782298 2022-09-13      207  233         20  465100.0
1959   YNW866090 2022-09-02      143  244         11  238605.0
1960   IFC198488 2022-09-17      189  229          6  174255.0

[1960 rows x 6 columns]

## Categorization of customers based on RFM scores

In [4]:
rfm = model.rfm_score()
rfm

/2023-05-04 12:46:33,373 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/2023-05-04 12:46:33,373 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/2023-05-04 12:46:33,463 / pareto.py / INFO / rfm_score/ 1960 rows written to RFMScore table /pareto.py/89/
/2023-05-04 12:46:33,463 / pareto.py / INFO / rfm_score/ 1960 rows written to RFMScore table /pareto.py/89/

,customer_id,recency_score,frequency_score,monetary_score,RFM_SCORE,segment
0,KVO444312,4,4,4,44,LOYAL CUSTOMER
1,VBV804469,2,4,4,24,AT RISK
2,BAE240832,2,1,1,21,HIBERNATING
3,AOK457989,3,1,2,31,ABOUT TO SLEEP
4,XZF813575,3,3,3,33,NEED ATTENTION
...,...,...,...,...,...,...
1956,DXT747575,1,2,2,12,HIBERNATING
1957,VOZ592840,5,1,1,51,NEW CUSTOMERS
1958,ZCQ782298,1,5,5,15,CANT LOSE
1959,YNW866090,4,3,3,43,POTENTIAL LOYALIST
1960,IFC198488,3,2,2,32,ABOUT TO SLEEP

## Fit into Pareto model

In [3]:
fit = model.fit_paretonbd()
fit

/2023-05-04 12:47:59,599 / numexpr.utils / INFO / NumExpr defaulting to 8 threads. /utils.py/157/
/2023-05-04 12:47:59,716 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/2023-05-04 12:47:59,716 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/opt/anaconda3/lib/python3.8/site-packages/scipy/special/_logsumexp.py:108: RuntimeWarning: overflow encountered in exp
  tmp = b * np.exp(a - a_max)
/2023-05-04 12:48:09,405 / pareto.py / INFO / model_params/ Model initiation done. /pareto.py/97/
/2023-05-04 12:48:09,405 / pareto.py / INFO / model_params/ Model initiation done. /pareto.py/97/

## Model parameters

In [4]:
parameters = model.model_params()
parameters

/2023-05-04 12:48:09,522 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/2023-05-04 12:48:09,522 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/opt/anaconda3/lib/python3.8/site-packages/scipy/special/_logsumexp.py:108: RuntimeWarning: overflow encountered in exp
  tmp = b * np.exp(a - a_max)
/2023-05-04 12:48:24,450 / pareto.py / INFO / model_params/ Model initiation done. /pareto.py/97/
/2023-05-04 12:48:24,450 / pareto.py / INFO / model_params/ Model initiation done. /pareto.py/97/
/2023-05-04 12:48:24,493 / pareto.py / INFO / model_params / Model parameters inserted to table ParetoParameters /pareto.py/117/
/2023-05-04 12:48:24,493 / pareto.py / INFO / model_params / Model parameters inserted to table ParetoParameters /pareto.py/117/

          r      alpha           s           beta
0  7.177255  132.36244  395.589972  308568.971691

## Predictions for 30,90,180,360 days

In [5]:
pareto = model.predict_paretonbd()
pareto

/2023-05-04 12:48:24,599 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/2023-05-04 12:48:24,599 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/opt/anaconda3/lib/python3.8/site-packages/scipy/special/_logsumexp.py:108: RuntimeWarning: overflow encountered in exp
  tmp = b * np.exp(a - a_max)
/2023-05-04 12:48:33,833 / pareto.py / INFO / model_params/ Model initiation done. /pareto.py/97/
/2023-05-04 12:48:33,833 / pareto.py / INFO / model_params/ Model initiation done. /pareto.py/97/
/2023-05-04 12:48:33,948 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/2023-05-04 12:48:33,948 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/2023-05-04 12:48:34,203 / pareto.py / INFO / predict_paretonbd / 1960 rows written to Prediction table /pareto.py/135/
/2023-05-04 12:48:34,203 / pareto.py / INFO / predict_paretonbd / 1960 rows written to Prediction table /pareto.py/135/

,Customer,Expected_Purchases_30,Expected_Purchases_90,Expected_Purchases_180,Expected_Purchases_360
0,KVO444312,0.610216,1.762515,3.333182,5.980401
1,VBV804469,1.334512,3.854538,7.289525,13.078917
2,BAE240832,0.754029,2.177898,4.118733,7.389838
3,AOK457989,0.868402,2.508246,4.743472,8.510741
4,XZF813575,0.874373,2.525496,4.776101,8.569310
...,...,...,...,...,...
1956,DXT747575,1.067067,3.082061,5.828643,10.457764
1957,VOZ592840,0.835107,2.412043,4.561439,8.183808
1958,ZCQ782298,1.975920,5.707143,10.793069,19.364941
1959,YNW866090,0.185262,0.535101,1.011959,1.815665
1960,IFC198488,0.954383,2.756588,5.213120,9.353376

## Customer aliveness

In [6]:
alive = model.customer_is_alive()
alive

/2023-05-04 12:48:34,297 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/2023-05-04 12:48:34,297 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/opt/anaconda3/lib/python3.8/site-packages/scipy/special/_logsumexp.py:108: RuntimeWarning: overflow encountered in exp
  tmp = b * np.exp(a - a_max)
/2023-05-04 12:48:44,064 / pareto.py / INFO / model_params/ Model initiation done. /pareto.py/97/
/2023-05-04 12:48:44,064 / pareto.py / INFO / model_params/ Model initiation done. /pareto.py/97/
/2023-05-04 12:48:44,179 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/2023-05-04 12:48:44,179 / pareto.py / INFO / cltv_df/ 1960 rows written to CLTV table /pareto.py/62/
/2023-05-04 12:48:44,236 / pareto.py / INFO / customer_is_alive/ 1960 rows written to CustomerAlive table /pareto.py/149/
/2023-05-04 12:48:44,236 / pareto.py / INFO / customer_is_alive/ 1960 rows written to CustomerAlive table /pareto.py/149/

       Customer  Probability_of_being_Alive
0     KVO444312                    0.357667
1     VBV804469                    0.801539
2     BAE240832                    0.919719
3     AOK457989                    0.882839
4     XZF813575                    0.610187
...         ...                         ...
1956  DXT747575                    0.936901
1957  VOZ592840                    0.749317
1958  ZCQ782298                    0.902565
1959  YNW866090                    0.130313
1960  IFC198488                    0.889241

[1960 rows x 2 columns]

In [7]:
import pandas as pd

# Read the CSV file into a pandas dataframe
df = pd.read_csv('globbing.csv')

# Group the data by customer and count the number of invoices
grouped = df.groupby('Customer').agg({'InvoiceId': 'count'})

# Select only the customers with one invoice
result = grouped[grouped['InvoiceId'] == 1]

# Print the result
print(result)

           InvoiceId
Customer
AAR366684          1
ATB262249          1
BRS840990          1
BSF439593          1
CKI107410          1
DAX787715          1
DFZ837701          1
DSE737276          1
EUF556994          1
GGL431742          1
GXL480310          1
HAH608808          1
IAY208308          1
IQN294014          1
IWU303142          1
JZG281834          1
KFT548996          1
KPO670477          1
KXH974893          1
LFG253534          1
NJM647149          1
OLY631292          1
RWD468759          1
SJZ770260          1
TNU309606          1
UCA347124          1
UYP958102          1
VXJ691842          1
XHB937113          1
XVA214225          1